#set ($preferences = $renderRequest.getPreferences())

#set ($assetLinkBehaviour = $preferences.getValue("assetLinkBehavior", ''))

<ul class="title-list">
	#foreach ($assetEntry in $assetEntries)
		#set ($assetRenderer = $assetEntry.getAssetRenderer())
		#set ($void = $assetRenderer.initForRender($renderRequest, $renderResponse)))

		#set ($viewURL = $assetPublisherHelper.getAssetViewURL($renderRequest, $renderResponse, $assetEntry))

		#if ($assetLinkBehaviour != 'showFullContent')
			#set ($viewURL = $assetRenderer.getURLViewInContext($viewURL))
		#end

		<li class="document title-list">
			<a class="taglib-icon" href="$viewURL">
				<img alt="$assetRenderer.getTitle() #language("icon")" class="icon" src="$assetRenderer.getIconPath()" />

				<span class="taglib-text">$assetRenderer.getTitle()</span>
			</a>

			<div class="asset-actions lfr-meta-actions">
				<a class="taglib-icon" href="$assetRenderer.getURLEdit()">
					<img alt="#language("edit") $assetRenderer.getTitle()" class="icon" src="$themeDisplay.getPathThemeImages()/common/edit.png" title="#language("edit") $assetRenderer.getTitle()" />
				</a>
			</div>
		</li>
	#end
</ul>